:root {

    // ============= TEXT COLOR =============

    --main-text-color: #080809;
    --header-text-color: #ffffff;
    --audit-button-text-color: #ffffff;

    // ============= BACKGROUND COLOR =============
    --header-background-color: linear-gradient(165deg, #3d2e80 45%, #DC1969 100%);
    --footer-background-color: linear-gradient(165deg, #3d2e80 45%, #DC1969 100%);
    --audit-button-background-color: #EE325C;
}

