@forward 'typography';
@forward 'colorScheme';
@forward 'basicSettings';
@forward 'globalVariables';



body {
    background: #fff;
    width: 100%;
    min-height: 100vh;
    font-family: 'Mulish';
    -webkit-font-smoothing: antialiased;
}

header {
    position: relative;
    overflow: hidden;
    
    .headerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        height: var(--header-height-mobile);
        color: var(--header-text-color);
        padding: 28px 33px 56px 33px;
        .headingWrapper {
            width: 100%;
            h1 {
                font-family: Mulish;
                font-weight: 900;
                font-style: normal;
                font-size: 30px;
                text-align: center;
                line-height: 45px;
            }
        }
    }
    .backgroundGradient {
        position: absolute;
        top: 0;
        left: 0;
        height: calc(var(--header-height-mobile)*1.4);
        width: 100%;
        background: var(--header-background-color);
        z-index: -1;
    }
}

main {
    width: 100%;
    padding: 0 30px;
    height: 100%;
    color: var(--main-text-color);
    .partnerImgWrapper {
        margin-top: 53px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        img {
            width: calc(100% / 2 - 10px);
            max-width: 175px;
        }
    }
    h3 {
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        margin-bottom: 40px;
    }
    p {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
    }
    ul {
        margin: 60px 0;
        li {
            position: relative;
            list-style-type: none;
            padding: 0 20px 0 50px;
            margin-bottom: 30px;
            &::after {
                position: absolute;
                content: '';
                top: 8px;
                left: 0;
                width: 24px;
                height: 24px;
                background-image: url('../../assets/svg/okCircle.svg');
            }
            p {                
                font-style: normal;
                font-weight: 600;
                font-size: 18px;
                line-height: 27px;
            }
        }
    }
    ol {
        li {
            position: relative;
            list-style-type: none;
            margin-left: 80px;
            &:nth-child(1)::after,
            &:nth-child(2)::after,
            &:nth-child(3)::after,
            &:nth-child(4)::after {
                position: absolute;
                content: '';
                top: 15px;
                left: -90px;
                width: 62px;
                height: 75px;
            }
            &:nth-child(1)::after {
                background-image: url('../../assets/svg/1.svg');
            }
            &:nth-child(2)::after {
                background-image: url('../../assets/svg/2.svg');
            }
            &:nth-child(3)::after {
                background-image: url('../../assets/svg/3.svg');
            }
            &:nth-child(4)::after {
                background-image: url('../../assets/svg/4.svg');
            }
            h4 {
                font-style: normal;
                font-weight: 900;
                font-size: 24px;
                line-height: 30px;
                margin-bottom: 10px;
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 28px;
                margin-bottom: 55px;
            }
        }
    }
    .quoteBlock {
        .quote {
            position: relative;
            padding: 32px 19px 32px 28px;
            border: 1px solid var(--main-quoteBlock-border-color);
            margin-bottom: 25px;
            &::after {
                position: absolute;
                content: '';
                top: -27px;
                left: 30px;
                width: 43px;
                height: 35px;
                background-image: url('../../assets/svg/quotationMarks.svg');
            }
            p {
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 32px;
            }
        }
        .authorOfTheQuote {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 82px;
            img {
                width: 64px;
                height: 64px;
                margin-right: 21px;
            }
            .authorinitials {
                .quoteAuthorName {
                    font-style: normal;
                    font-weight: 900;
                    font-size: 16px;
                    line-height: 22px;
                }
                .quoteAuthorPosition {
                    display: inline-block;
                    font-style: normal;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 22px;
                }
                .quoteAuthorCompany {
                    display: inline-block;
                    font-style: normal;
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    color: var(--main-text-second-color);
                }
            }
        }
    }
}


.buttonWrapper,
.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
    justify-content: flex-start;
    align-items: flex-start;
}

.auditBtn {
    color: var(--audit-button-text-color);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 900;
    background: var(--audit-button-background-color);
    border-radius: 8px;
    border: 0px solid var(--audit-button-background-color);
    outline: none;
    box-shadow: none;
    line-height: 25px;
    padding: 0 17px;
    &.smAuditBtn {
        max-width: 200px;
        min-height: 42px;
    }
    &.lgAuditBtn {
        width: 100%;
        max-width: 380px;
        min-height: 72px;
        margin: 92px auto;
        font-size: 20px;
    }
}


//-------------------------------------//
//----------- @ MEDIA -----------------//
//-------------------------------------//


@media screen and  (min-width: 1000px) {
    header {
        .headerContent {
            flex-wrap: wrap;
            flex-direction: row;
            height: var(--header-height-desktop);
            max-width: 1000px;
            margin: 0 auto;
            padding: 61px 33px 56px 33px;
            .logoWrapper {
                order: 1;
                width: calc(100% / 2);
            }
            .buttonWrapper {
                order: 2;
                width: calc(100% / 2 );
                justify-content: flex-end;
                align-items: flex-start;
            }
            .headingWrapper {
                order: 3;
                width: 100%;
                h1 {
                    display: block;
                    max-width: 720px;
                    margin: 0 auto;
                    font-size: 50px;
                    line-height: 80px;
                    br {
                        display: none;
                    }
                }
            }

        }


    }
}
