@forward 'typography';
@forward 'colorScheme';
@forward 'basicSettings';
@forward 'globalVariables';



body {
    background: #fff;
    width: 100%;
    min-height: 100vh;
}

header {
    position: relative;
    overflow: hidden;
    
    .headerContent {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        height: var(--header-height-mobile);
        color: var(--header-text-color);
        padding: 28px 33px 56px 33px;
        .headingWrapper {
            width: 100%;
            h1 {
                font-family: Mulish;
                font-weight: 900;
                font-style: normal;
                font-size: 30px;
                text-align: center;
                line-height: 45px;
            }
        }
    }
    .backgroundGradient {
        position: absolute;
        top: 0;
        left: 0;
        height: calc(var(--header-height-mobile)*1.4);
        width: 100%;
        background: var(--header-background-color);
        z-index: -1;
    }
}

main {
    width: 100%;
    padding: 0 30px;
    height: 100%;
}

.buttonWrapper,
.logoWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoWrapper {
    justify-content: flex-start;
    align-items: flex-start;
}

.auditBtn {
    color: var(--audit-button-text-color);
    font-family: Mulish;
    font-size: 14px;
    font-weight: 900;
    background: var(--audit-button-background-color);
    border-radius: 8px;
    border: 0px solid var(--audit-button-background-color);
    outline: none;
    box-shadow: none;
    line-height: 25px;
    padding: 0 17px;
    &.smAuditBtn {
        max-width: 200px;
        min-height: 42px;
    }
    &.lgAuditBtn {
        width: 100%;
        max-width: 380px;
        min-height: 72px;
        margin: 0 auto;
        font-size: 20px;
    }
}



//-------------------------------------//
//----------- @ MEDIA -----------------//
//-------------------------------------//


@media screen and  (min-width: 1000px) {
    header {
        .headerContent {
            flex-wrap: wrap;
            flex-direction: row;
            height: var(--header-height-desktop);
            max-width: 1000px;
            margin: 0 auto;
            padding: 61px 33px 56px 33px;
            .logoWrapper {
                order: 1;
                width: calc(100% / 2);
            }
            .buttonWrapper {
                order: 2;
                width: calc(100% / 2 );
                justify-content: flex-end;
                align-items: flex-start;
            }
            .headingWrapper {
                order: 3;
                width: 100%;
                h1 {
                    display: block;
                    max-width: 720px;
                    margin: 0 auto;
                    font-size: 50px;
                    line-height: 80px;
                    br {
                        display: none;
                    }
                }
            }

        }


    }
}
